/* =======================================GENERAL====================== */
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeueMedium";
  color: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(../../assets/fonts/HelveticaNeueMedium.woff2);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

:root {
  --purple: #663366;
  --white: #ffffff;
  --titlecolor: #2d3b45;
  --main-title: 3rem;
  --sub-title: 2rem;
  --par: 1.3rem;
  --small: 0.7rem;
  --margin: 3%;
  --padding: 3%;
}

/* ========================================================================= */

body {
  min-height: 100vh;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100vh;
  color: white;
  background-image: url(../img/background-img.jpg);
  /* https://www.uhdpaper.com/2023/12/grand-theft-auto-6-video-game-4k-2851n.html */
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.container > p {
  font-family: "HelveticaNeueMedium";
  font-size: 1.4rem;
  margin-bottom: 5%;
  text-align: center;
}
.container > p:hover {
  cursor: pointer;
  font-size: 1.5rem;
  transition: 0.025s ease;
}

#form-section {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
  font-size: 1.125rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/background-img2.jpg);
  /* https://image-1.uhdpaper.com/wallpaper/grand-theft-auto-6-hd-wallpaper-uhdpaper.com-275@1@n.jpg */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-items: center;
}

#payment {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d2d2d;
  width: 45%;
  height: 95%;
  border-radius: 4px;
  padding: 2%;
}

.evenly {
  display: flex;
  justify-content: space-between;
}

#close:hover {
  cursor: pointer;
}

img {
  width: 50%;
}
#ideal {
  background-color: #e0e0e0;
  padding: 5%;
}

form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

ul {
  list-style-type: disc;
}

li {
  margin: 2%;
}

input,
button {
  color: black;
  padding: 1%;
  font-size: 1rem;
}
